@import "tailwindcss";

:root {
  --foreground: #000000;
  --background: #F4F4F4;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
    font-feature-settings: "ss04" on;
    /* Optional: stylized sets if available */
  }
}

@layer utilities {
  .animate-blink {
    animation: blink 1s step-end infinite;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}