@import url(https://db.onlinewebfonts.com/c/2458032730248f219f8c6eb891823eb0?family=Swiss721BT-BoldCondensed);
@import "tailwindcss";

@theme {
  --font-sans: 'Swiss721BT-BoldCondensed', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Swiss721BT-BoldCondensed', sans-serif;
  font-weight: 700;
  letter-spacing: 0.35em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}