@import url('https://fonts.cdnfonts.com/css/swis721-cn-bt');
@import "tailwindcss";

@theme {
  --font-sans: 'Swis721 Cn BT', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Swis721 Cn BT', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}