@import url(https://db.onlinewebfonts.com/c/184a43669964701942e4d9629cf77c2e?family=Swiss721BT-BlackCondensed);
@import "tailwindcss";

@theme {
  --font-sans: 'Swiss721BT-BlackCondensed', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Swiss721BT-BlackCondensed', sans-serif;
  font-weight: 700;
  letter-spacing: 0.35em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}